import("arulesCBA")
import("arules")
import("Matrix")

import("tensorflow")
import("reticulate")

importFrom("methods", "as", "is")
importFrom("stats", "runif", "as.formula")

export("CWAR")
#export("predict.CWAR")
S3method(predict, "CWAR")

